version: '3.8'

services:
  web:
    build: .
    # command is handled by ENTRYPOINT in Dockerfile
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1
      - SECRET_KEY=django-insecure-change-me-in-prod
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - DATABASE_ENGINE=django.db.backends.postgresql
      - DATABASE_NAME=blog_db
      - DATABASE_USER=blog_user
      - DATABASE_PASSWORD=blog_password
      - DATABASE_HOST=db
      - DATABASE_PORT=5432

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=blog_db
      - POSTGRES_USER=blog_user
      - POSTGRES_PASSWORD=blog_password

volumes:
  postgres_data:
