[Unit]
Description=Gunicorn daemon for StoryBoard
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/storyboard
EnvironmentFile=/var/www/storyboard/.env
ExecStart=/var/www/storyboard/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000
Restart=always

[Install]
WantedBy=multi-user.target
